h1, h2, h3, h4, h5, h6 {
  color: #455a64;
}

.clone-container {
  padding: 25px 50px 50px 50px;
  background-color: white;
  border-radius: 2px;
}

html {
  background-color: #cfd8dc; /* eceff1 cfd8dc b0bec5 */
}