h1, h2, h3, h4, h5, h6 {
  color: #455a64;
}

.create-form-container {
  margin: 5% 10% 5% 10%;
  padding: 10px;
  background-color: white;
  border-radius: 2px;
}

html {
  background-color: #cfd8dc; /* eceff1 cfd8dc b0bec5 */
}