/*
teal lighten-5: #E0F2F1
blue-grey lighten-5: #ECEFF1
*/

#review_title_div {
  margin-top: 25px;
}

.section {
  #border: 1px solid #455A64;
  background-color: #ECEFF1;
}

.tabs {
  margin-bottom: 20px;
}

.file_div {
  border-radius: 2px;
  border-width: 1px;
  border-color: #ECEFF1;
  border-style: solid;
  margin: 20px 0px;
}

.file_header_div {
  background-color: #ECEFF1;
  padding: 5px;
}

.file_header_div > h6 {
  margin: 0px 0px 0px 10px;
}

/* Rules for all icons */
i.icon-valign {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    vertical-align: middle !important;
}

/* Rules for sizing the icon. */
i.md-18 { font-size: 18px; }
i.md-24 { font-size: 24px; }
i.md-36 { font-size: 36px; }

/* Rules for using icons as black on a light background. */
i.md-green { color: #dbffdb; }
i.md-green200 { color: #a5d6a7; }
i.md-green300 { color: #81c784; }
i.md-green400 { color: #66bb6a; }
i.md-lime200 { color: #e6ee9c; }
i.md-lime300 { color: #dce775; }
i.md-lime400 { color: #d4e157; }
i.md-amber200 { color: #ffe082; }
i.md-amber300 { color: #ffd54f; }
i.md-amber400 { color: #ffca28; }
i.md-red { color: #f1c0c0; }
i.md-red200 { color: #ef9a9a; }
i.md-red300 { color: #e57373; }
i.md-red300 { color: #ef5350; }

.file_code_div {
  padding: 5px;
}