/*
teal lighten-5: #E0F2F1
blue-grey lighten-5: #ECEFF1
*/

h1, h2, h3, h4, h5, h6 {
  color: #455a64;
}

#review_title_div {
  margin-top: 25px;
}

.tab {
  #border-radius: 10px 10px 0 0;
  #border: 1px solid #ECEFF1;
  #border-bottom: none;
}

.tabs {
  margin-bottom: 20px;
}

#toast-container {
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto; 
}

/*
 * DETAILS TAB
 */
 
 #details_container {
  border-radius: 2px;
  border-width: 1px;
  border-color: #cfd8dc;
  border-style: solid;
  background-color: #cfd8dc;
  padding: 20px 30px;
 }
 
.section {
  #border: 1px solid #455A64;
  background-color: white;
  border-radius: 2px;
}

/*
 * DIFF TAB
 */

/* CSS for each file container */

.file_div {
  border-radius: 2px;
  border-width: 1px;
  border-color: #cfd8dc;
  border-style: solid;
  margin: 30px 0px;
}

/* Header of file containers */

.file_header_div {
  background-color: #ECEFF1;
  padding: 5px;
}

.file_header_div > h6 {
  margin: 0px 0px 0px 10px;
  font-size: 18px;
  color: #546e7a;
}

/* Rules for all icons */
i.icon-valign {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    vertical-align: middle !important;
}

/* Rules for sizing the icon. */
i.md-18 { font-size: 18px; }
i.md-24 { font-size: 24px; }
i.md-36 { font-size: 36px; }

/* Rules for using icons as black on a light background. */
i.md-green { color: #dbffdb; }
i.md-green200 { color: #a5d6a7; }
i.md-green300 { color: #81c784; }
i.md-green400 { color: #66bb6a; }
i.md-lime200 { color: #e6ee9c; }
i.md-lime300 { color: #dce775; }
i.md-lime400 { color: #d4e157; }
i.md-amber200 { color: #ffe082; }
i.md-amber300 { color: #ffd54f; }
i.md-amber400 { color: #ffca28; }
i.md-red { color: #f1c0c0; }
i.md-red200 { color: #ef9a9a; }
i.md-red300 { color: #e57373; }
i.md-red300 { color: #ef5350; }

.material-icons {
  cursor: default;
}

.dropdown-button {
  color: #607d8b;
  background-color: #cfd8dc;
}

i.toggle-btn {
  margin: 0 5px 0 10px;
  cursor: pointer;
  color: #546e7a;
}

/* Container for the code of the diff */

.file_code_div {
  padding: 5px;
}

.file_code_div p.code-line {
  cursor: default;
  margin: 0;
}

.file_code_div p.code-line:hover {
  border: 1px solid #888888;
}

.file_code_div p.added-code {
  background-color: #dbffdb;
}

.file_code_div p.deleted-code {
  background-color: #f1c0c0;
}

/* Create new comment div */

.create_comment_container {
  display: none;
  background-color: #ECEFF1;
  padding: 10px;
  margin: 5px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #b0bec5;
  border-radius: 2px;
}

.create_comment_form input {
  margin: 0 5px;
}

.create_comment_form input.cancel-btn {
  color: #607d8b;
  background-color: #cfd8dc;
}

.create_comment_form textarea {
  border-top: 1px solid #ECEFF1;
  border-right: 1px solid #ECEFF1;
  border-left: 1px solid #ECEFF1;
  background-color: white;
  margin-bottom: 10px;
}


/* Reply form */
.create_reply_container {
  display: none;
  background-color: #ECEFF1;
  padding: 10px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #b0bec5;
  border-radius: 2px;
  margin: 5px 5px 5px 20px;
}

.create_reply_form input {
  margin: 0 5px;
}

.create_reply_form input.cancel-btn {
  color: #607d8b;
  background-color: #cfd8dc;
}

.create_reply_form textarea {
  border-top: 1px solid #ECEFF1;
  border-right: 1px solid #ECEFF1;
  border-left: 1px solid #ECEFF1;
  background-color: white;
  margin-bottom: 10px;
}

/* Read old comment */
.code-line-comment-container {
  border: 1px solid #546e7a;
  border-radius: 2px;
  margin: 5px;
}
.code-line-container pre {
  margin: 0;
}
.code-line-comment {
  padding: 5px 0 5px 5px;
}
.comment-light {
  background-color: white; /*#eceff1*/
}
.comment-dark {
  background-color: #eceff1; /*#cfd8dc*/
}
.comment-header {}
.comment-author {
  display: inline;
}
.comment-timestamp {
  display: inline;
  float: right;
  margin-right: 8px;
  color: #78909c;
}
.comment-message {
  margin: 3px 0 3px 10px;
}
.comment-action-container {}
.comment-action {
  display: inline;
  color: #00695c;
  cursor: pointer;
  margin-right: 7px;
  text-decoration: underline;
}
.code-line-reply-container {
  margin-left: 20px;
  border: 1px solid #eceff1;
}