html {
  background-color: #cfd8dc; /* eceff1 cfd8dc b0bec5 */
}

h1, h2, h3, h4, h5, h6 {
  color: #455a64;
}

.group-members-container {
  margin: 5% 10% 5% 10%;
  padding: 15px;
  background-color: white;
  border-radius: 2px;
}

.group-members-container tbody tr {
  cursor: pointer;
}